<!DOCTYPE html>
<html>
<head>
  <title>Notice factory</title>
  <%= stylesheet_link_tag    "notice_factory/application", media: "all" %>
  <%= javascript_include_tag "notice_factory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
